<h2>Sign up</h2>
<% resource.build_profile %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<h2> Profile Info </h2>
  <%= f.fields_for :profile do |profile_form| %>
      <h3><%= profile_form.label :first_name %></h3>
      <p><%= profile_form.text_field :first_name %></p>

      <h3><%= profile_form.label :last_name %></h3>
      <p><%= profile_form.text_field :last_name %></p>

      <h3><%= profile_form.label :blurb %></h3>
      <p><%= profile_form.text_field :blurb %></p>
    <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
