<div class="field">
  <h1> Comment for:</h1>
  <h5> <%= @post.description %> </h5>
  <%= form_for @comment do |c| %>

    <%= c.text_area :content, :size => "50x2" %>

    <%= c.hidden_field(:author_id, :value => params[:author_id]) %>
    <%= c.hidden_field(:post_id, :value => params[:post_id]) %>
  <div>
    <%= c.submit %>
  </div>
  <% end %>
</div>