<section class="column-main">
  <aside class="sidebar">
    <h5>Friends</h5>
    <% @friends.each do |f| %>
      <div class="sidebar-content">
        <% unless f.profile.photo.url == "/photos/original/missing.png" %>
        <%= image_tag f.profile.photo.url(:thumb) %>
        <% else %>
          <%= gravatar_for(f, 50) %>
        <% end %>
        <%= link_to "#{f.profile.first_name} #{f.profile.last_name}", user_path(:id => f.id) %>
      </div>
    <% end %>
  </aside>
  <div class="column-main-content">
    <h1><%= @profile.first_name %>&nbsp<%= @profile.last_name %></h1>
    <% unless @profile.photo.url == "/photos/original/missing.png" %>
      <%= image_tag @profile.photo.url(:medium) %>
    <% else %>
      <%= gravatar_for(@user, 250) %>
    <% end %>

    <h4>"<%= @profile.blurb %>"</h4>
    <% if current_user == @user%>
      <%= link_to "edit profile", edit_user_profiles_path(current_user) %>
    <% end %>
  </div>
  <% if current_user == @user%>
     <div class="form-main-content">
       <%= form_for(@post) do |f| %>
         <%= f.text_area :description %>
         <%= f.submit "Post", :class => "btn-post" %>
       <% end %>  
       or post and image
       <%= form_for(@image) do|f| %>
         <%= f.label :image %>
         <%= f.file_field :image %>
         <%= f.submit "Post Image", :class=> "btn-post" %>
       <% end %>
    </div>
  <% end %>
</section>
      
<div class="post-wrapper"> 
  <% if @feed %>
  <%= render "shared/post", :feed => @feed %>
  <% end %>
</div>
