<% @posts.each do |p| %>
  <article class="post-container clearfix">  
    <div class="post-inner clearfix">
      <div class="post-author">
        <h3><%= link_to "#{p.author.profile.first_name} #{p.author.profile.last_name}", user_path(:id => p.author_id)%></h3><span class="verb">says:</span>
        <%= gravatar_for(p.author, 75) %>
      </div>
      <p class="delete">
        <% if current_user == p.author %>
        <%= link_to "X", post_path(p.id), :method => :delete,  data: {confirm: "Are you sure?"} %>
        <% end %>
      </p>
      <div class="post-content">
        <% unless p.image.url == "/images/original/missing.png" %>
          <%= image_tag p.image.url(:medium) %>
        <% else %>
          <%= p.description %>
        <% end %>
      </div>
      <div class="right-tools">
        <% if p.likes.count > 0 %>
          <span class="like-count"><%= pluralize(p.likes.count, "like") %></span>
        <% end %>
        <% if current_user.likes?(p) %>
        <%= link_to "Unlike", like_path(:id => 0, :liked_id => p.id), :method => :delete %>
        <% else %>
          <%= link_to "Like", likes_path(:post_id => p.id), :action => :create, :method => :post %>
        <% end %>  
        <%= link_to "Comment", new_comment_path(:author_id => current_user.id, :post_id => p.id) %>
      </div>      
    </div>
  </article>
  <% p.comments.each do |c| %>
    <article class="comment-container clearfix">
      <div class="comment-inner clearfix">
        <div class="comment-author">
          <h3><%= link_to "#{c.author.profile.first_name} #{c.author.profile.last_name}", user_path(:id => c.author_id) %></h3>
          <%= gravatar_for(c.author, 75) %>
          <span>comments:</span>
        </div>
        <div class="comment-content">
          <%= c.content %>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
