<header>
  <div id="logo"><%=link_to "Social-Network", current_user %> </div>
  <nav>
    <div class="navigation">
      <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to( 'Feed', posts_path) %>
        </li>
        <li>
          <%= link_to( 'Users', users_path) %>
        </li> 
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        </ul>
        <div class="dropdown">
          <% if @pending_friends.size > 0 %>
          <%= render  "layouts/notifications" %>
          <% else %>          
          <%= render "layouts/notifications_negative" %>
          <% end %>
          
        </div>
      <% end %>
    </div>
  </nav>
</header>