<header>
  <div id="logo"><%=link_to "Social-Network", current_user %> 
  </div>
  <% if user_signed_in? %>
  <div class="dropdown">
    <% if @pending_friends.size > 0 %>
      <%= render  "layouts/notifications" %>
    <% end %>
  </div>
  <nav class="nav">
      <%= link_to( 'Users', users_path) %>
      <%= link_to( 'Feed', posts_path) %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </nav>   
  <% end %>
</header>