<header>
  <div id="logo"><%=link_to "Social-Network", current_user %> </div>
  <nav>
      <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to( 'Feed', posts_path) %>
        </li>
        <li>
          <%= link_to( 'Users', users_path) %>
        </li> 
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <li>
          <% if @pending_friends.size > 0 %>
            <%= render  "layouts/notifications" %>
          <% else %>          
            <%= render "layouts/notifications_negative" %>
          <% end %>
        </li>
      </ul>
      <div class="dropdown">
          
      </div>
      <% end %>
  </nav>
</header>