<header>
  <div id="logo"><%=link_to "Social-Network", current_user %> 
  </div>
  <% if user_signed_in? %>
  <div class="dropdown hidden">
    <% if @pending_friends.size > 0 %>
      <%= render  "layouts/notifications" %>
    <% end %>
  </div>
  <nav class="nav">
    <ul>
      <li><%= link_to( 'Users', users_path) %></li>
      <li><%= link_to( 'Feed', posts_path) %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </nav>   
  <% end %>
</header>